<!-- where we will show the place journeyed and the corresponding picture -->
<div class= “header-image”>
</div>

<section id="show-page">
    <div>Where: </div>
    <div><%= journey.where %> </div>
    <!-- show pic here -->
    <!-- <%= image variable %>  -->
</section>

<form action="/journeys/<%= journeys._id %>/blogs" method ="POST">
    <input name=""text>
    <button type="submit">Add Blog Post</button>
</form>

<form action="/journeys/<%= journeys._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete Journey</button>
  </form>

<form action="/blogs/<%= journeys._id %>?_method=PUT" method="POST">
    <input name="text" value="<%= blogs.text %>">
    <button type="submit">Update Blog Entry</button>
  </form>


<% journey.blogs.forEach(function(blogs) { %>
 <div class="blog">
    <%= blogs.text %><br>
    <% if (blogs.userID.equals(user._id)) { %>
        <form action="/blogs/<%= blogs._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Blog Post</button>
     </form>
    <% } %>
 </div>
<% }) %>

<form action="/blogs/<%= journeys._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete Blog Post</button>
</form>
