<div>
    <img class="navImage" src="https://i.imgur.com/yZOYf0P.jpg" />
</div>
<%- include('../partials/header') %>

    <thead>
        <div class="inputs" style="margin-top: 2vw;"> Place Visited: <%= journey.where %> &nbsp &nbsp &nbsp &nbsp
                Favorite Restaurant: <%= journey.restaurant %> &nbsp &nbsp &nbsp &nbsp
                    Favorite Spot: <%= journey.spot %>
        </div>
    </thead>

    <img src="<%= journey.image%>" alt="image" href="/journeys/<%= journey._id %>"
        style="width: 300px; height: 300px; margin-top: 2vw; margin-left: 40vw;">

    <form action="/journeys/<%= journey._id %>/blogs" method="POST">
        <textarea rows="5" cols="60" name="content" style="margin-top: 2vw; margin-left: 30vw;">
     </textarea> <br>
        <button style="margin-left: 44vw; margin-top: 1vw;" type="submit">Add Blog Post</button>
    </form>



    <% journey.blogs.forEach(blog=> { %>
        <div class="blog">
            <%= blog.text %><br>
                <h1>
                    <%= blog.content %>
                </h1>
                <h1>
                    <%= blog.userName %>
                </h1>
                <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                    <button type="submit">Delete Blog Post</button>
                </form>
                <form action="/blogs/<%= blog._id %>" method="POST">
                    <input name="content" value="<%= blog.content %>">
                    <button type="submit">Update Blog Entry</button>
                </form>
        </div>
        <% }) %>