<!-- where we will show the place journeyed and the corresponding picture -->

<div>
    <img class="navImage" src="https://i.imgur.com/yZOYf0P.jpg" />
</div>
<%- include('../partials/header') %>

<thead>
<th> <%= journey.where %> 
    <%= journey.restaurant %>
    <%= journey.spot %>
</th>
</thead>

<form action="/journeys/<%= journey._id %>/blogs" method="POST">
    <input name="content">
    <button type="submit">Add Blog Post</button>
</form>


<% journey.blogs.forEach(blog => {  %>
 <div class="blog">
    <%= blog.text %><br>
    <h1><%= blog.content %></h1>
    <h1><%= blog.userName %></h1>
    <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Blog Post</button>
        </form>
    <form action="/blogs/<%= blog._id %>" method="POST">
        <input name="content" value="<%= blog.content %>">
        <button type="submit">Update Blog Entry</button>
        </form>
 </div>
<% }) %>

