<!-- where we will show the place journeyed and the corresponding picture -->
<%- include('../partials/header') %>
<div class= “header-image”>
</div>

<form action="/journeys/<%= journey._id %>/blogs" method="POST">
    <input name="content">
    <button type="submit">Add Blog Post</button>
</form>

<form action="/journeys/<%= journey._id %>" method="DELETE">
    <button type="submit">Delete Journey</button>
  </form>




<% journey.blogs.forEach(blog => {  %>
 <div class="blog">
    <%= blog.text %><br>
    <h1><%= blog.content %></h1>
    <h1><%= blog.userName %></h1>
    <form action="/blogs/<%= blog._id %>" method="DELETE">
        <button type="submit">Delete Blog Post</button>
        </form>
    <form action="/blogs/<%= journey._id %>" method="POST">
        <input name="text" value="<%= blog.text %>">
        <button type="submit">Update Blog Entry</button>
        </form>
 </div>
<% }) %>

